body {
  background-image: url(images/about.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Inter", sans-serif;
}
.main h1 {
  color: white;
  font-size: 45px;
  font-family: "Inter", sans-serif;
}
.tittel {
  display: flex;
  justify-content: center;
}
.main p {
  color: white;
  padding: 3em;
  padding-left: 3em;
  padding-right: 3em;
  font-size: 15px;
  line-height: 1.7em;
  text-indent: 15px;
  font-family: "Inter", sans-serif;
}

@media screen and (max-width: 350px) {
  .main h1 {
    font-size: 21px;
  }

  .main p {
    font-size: 13px;
  }
}
