body {
  background-image: url(images/museum.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.contact h1 {
  position: absolute;
  top: 2.2em;
  left: 13em;
  font-size: 45px;
  font-family: "Inter", sans-serif;
  word-wrap: none;
}

.contact h2 {
  margin: 40px;
  font-size: 26px;
  margin-left: 9em;
  font-family: "Inter", sans-serif;
  word-wrap: none;
}
.media {
  position: absolute;
  right: 50px;
  bottom: 12px;
  background-color: #00000020;
  width: 25%;
  max-height: 150px;
  display: flex;
  flex-direction: row;
}
.media img {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media screen and (max-width: 700px) {
  .contact h1 {
    font-size: 30px;
    word-wrap: none;
  }
  .contact h2 {
    font-size: 20px;
    word-wrap: none;
  }
  .media {
    width: 20%;
    align-items: center;
    position: fixed;
  }
}

@media screen and (max-width: 400px) {
  .contact h1 {
    font-size: 21px;
    word-wrap: none;
  }
  .contact h2 {
    font-size: 20px;
    word-wrap: none;
  }
  .media {
    width: 15%;
    align-items: center;
  }
}
